nav {
  ol {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin-left: 10px;
      margin-right: 10px;
      display: block;

      a {
        text-decoration: none;
        padding: 10px;
        font-size: large;
        color: black;

        &.active {
          color: blue;
        }
      }
    }
  }
}